{% block form_for_call %}
<div class="form" id="1">
    <div class="form__title">Стань лучшей версией себя!</div>
    <div class="form__content">Оставьте свои контактные данные, мы свяжемся с вами в рабочее время.</div>
    <div class="form__phone">
        <input class="form__phone phone" placeholder="+7(___)___-__-__" type="tel" name="form_phone" value="" size="20">
    </div>
    <div class="form__button">
        <button class="form__button button">Заказать звонок</button>
    </div>

</div>
{% endblock %}