{% load static %}
{% block halls %}
<div class="container">
    <section class="halls">
        <h2>Наши залы</h2>
        <section class="halls__items">
            {% for i in service %}
                <article class="hall">
                    <img  src="{{ i.photos.first.photo_path.url }}" alt="" max-width: 100%; height="245";/> 
                    <div class="hall__content">
                        <div class="hall__title">{{ i.name }}</div>
                        <div class="hall__subtitle">Дополнение к описанию, для раскрытие деталей</div>
                        <a href="martial_arts_hall.html" class="hall__content button">Подробнее</a>
                    </div> 
                </article>
            {% endfor %}
        </section>
        <div class="halls__button">
            <a href="{% url 'halls' %}" class="halls__button button">Все залы</a>
        </div>
    </section>
</div>


{% endblock %}
