{% load static %}
{% block subscription %}
<div class="container">
    <section class="subscriptions">
        <h2>Абонементы</h2>
        <section class="subscriptions_items">
            {% for i in subscription %}
            <article class="subscription">
                <div class="subscription__title">{{i.name}}</div>
                <div class="subscription__time">
                    <p>7:00-24:00 будни</p>
                    <p>9:00-23:00 выходные и праздники</p>
                </div>
                
                <ol>
                    {% for j in i.description %}
                    <li>{{j}}</li>
                    {% endfor %}
                </ol>
                
                <div class="subscription__price">9000&#8381</div>
                <a href="login.html" class="subscription__button button">Купить</a>
                
                
            </article>
            {% endfor %}
        </section>
        <div class="subscriptions__button">
            <a href="{% url 'subscriptions' %}" class="subscriptions__button button">Все абонементы</a>
        </div>
    </section>
</div>

{% endblock %}