{% extends 'fitness/client_profile/base.html' %}
{% load static %}
{% block header %}

    <div class="section_profile">

        <div class="header__burger">
            <span></span>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="form">
        <form method="POST">
             {% csrf_token %}
            <div class="form__title">Войти в личный кабинет</div>
            <div class="form__login">
                 {{form.phone}}

            </div>
            <div class="form__pass">
                {{form.password}}


            </div>
            <button type="submit" class="form__button button">Войти</button>
            <div class="form__bottom">
                <a class="form__forgot_pass" href="#">Забыли пароль?</a>
                <a class="form__register" href="{% url 'register' %}">Зарегистрироваться</a>
            </div>
        </form>

    </div>
{% endblock %}