{% extends 'fitness/client_profile/base.html' %}
{% load static %}
{% block content %}
    {% block breadcrumb %}
    <div class="header_bottom bottom_profile">
        <span class="bottom_profile__title">Профиль</span>
        <ul class="breadcrumb_profile">

            <li class="breadcrumb_profile__item"><a href="#">Личный кабинет</a></li>
            <li class="breadcrumb_profile__item">Профиль</li>
            <li class="breadcrumb_profile__item">Доступные услуги</li>
        </ul>
    </div>
    {% endblock %}
{% endblock %}